@model AnResh.Models.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Добавить нового сотрудника</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <div>
            <label>ФИО</label>
            <div>
                @Html.EditorFor(model => model.EmployeeName)
                @Html.ValidationMessageFor(model => model.EmployeeName, "")
            </div>
        </div>

        <div>
            <label>ID отдела</label>
            <div>
                @Html.EditorFor(model => model.DepartmentId)
                @Html.ValidationMessageFor(model => model.DepartmentId, "")
            </div>
        </div>

        <div>
            <label>Зарплата</label>
            <div>
                @Html.EditorFor(model => model.Salary)
                @Html.ValidationMessageFor(model => model.Salary, "")
            </div>
        </div>

        <div>
            <input type="submit" value="Создать" class="btn" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "ViewById", new { departmentId = Model.DepartmentId }, new { @class = "back-btn btn" })
</div>
