@model IEnumerable<AnResh.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.DepartmentName</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            DepartmentName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @ViewBag.DepartmentName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", 
               new { employeeId = item.EmployeeId, employeeName = item.EmployeeName, 
                   departmentId = item.DepartmentId, salary = item.Salary }, null) |
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete",
               new { employeeId = item.EmployeeId, employeeName = item.EmployeeName,
                   departmentId = item.DepartmentId, salary = item.Salary }, null) |
            </td>
        </tr>
    }

</table>

<p>@Html.ActionLink("Create new", "Create", new { departmentId = ViewBag.DepartmentId}, null)</p>
<p>@Html.ActionLink("Back to Department list", "Index", "Departments")</p>
