@model IEnumerable<AnResh.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "ViewAll";
    var isEven = false;
}

<h2>Сотрудники</h2>

<table class="brand-table">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Отдел
        </th>
        <th>
            Зарплата
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (isEven)
        {
            <tr>
                <td class="even">
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td class="even">
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td class="even">
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
            </tr>
            isEven = false;
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
            </tr>
            isEven = true;
        }
    }

</table>
