@model IEnumerable<AnResh.Models.Employee>

@{
    ViewBag.Title = "ViewById";
}

<h2>@ViewBag.DepartmentName</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            DepartmentName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @ViewBag.DepartmentName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <div class="action-btns">
                    @Html.ActionLink("Редактировать", "Edit", new
                        {
                            employeeId = item.EmployeeId,
                            employeeName = item.EmployeeName,
                            departmentId = item.DepartmentId,
                            salary = item.Salary
                        }, new { @class = "action-btn" }) <span class="span">|</span>
                    @Html.ActionLink("Удалить", "Delete", new
                        {
                            employeeId = item.EmployeeId,
                            employeeName = item.EmployeeName,
                            departmentId = item.DepartmentId,
                            salary = item.Salary
                        }, new { @class = "action-btn" })
                </div>
            </td>
                
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Добавить сотрудника", "Create", new { departmentId = ViewBag.DepartmentId }, new { @class = "btn" })
</div>
<div>
    @Html.ActionLink("Назад", "ViewAll", "Departments", null, new { @class = "back-btn btn" })
</div>
