@model AnResh.ViewModels.DepartmentViewModel

@{
    ViewBag.Title = "ViewById";
    var isEven = false;
}

<h2>@Model.DepartmentName</h2>

<table class="brand-table">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Отдел
        </th>
        <th>
            Зарплата
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Employees)
    {
        if (isEven)
        {
            <tr>
                <td class="even">
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td class="even">
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td class="even">
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td class="even">
                    @Html.ActionLink("Редактировать", "Edit", "Employees",
                                     new { id = item.EmployeeId, name = item.EmployeeName, departmentId = Model.DepartmentId, salary = item.Salary },
                                     new { @class = "brand-action-link" }) <span class="brand-span">|</span>
                    @Html.ActionLink("Удалить", "Delete", "Employees",
                                     new { id = item.EmployeeId, name = item.EmployeeName, departmentId = Model.DepartmentId, salary = item.Salary },
                                     new { @class = "brand-action-link" })
                </td>
            </tr>
            isEven = false;
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", "Employees",
                                     new { id = item.EmployeeId, name = item.EmployeeName, departmentId = Model.DepartmentId, salary = item.Salary },
                                     new { @class = "brand-action-link" }) <span class="brand-span">|</span>
                    @Html.ActionLink("Удалить", "Delete", "Employees",
                                     new { id = item.EmployeeId, name = item.EmployeeName, departmentId = Model.DepartmentId, salary = item.Salary },
                                     new { @class = "brand-action-link" })
                </td>
            </tr>
            isEven = true;
        }
    }

</table>

<div>
    @Html.ActionLink("Добавить сотрудника", "Create", "Employees", new { departmentId = Model.DepartmentId }, new { @class = "brand-btn btn" })
</div>
<div>
    @Html.ActionLink("Назад", "Index", null, new { @class = "brand-back-btn brand-btn btn" })
</div>