@model AnResh.ViewModels.DepartmentViewModel
@using Newtonsoft.Json;

@{
    ViewBag.Title = "ViewById";
}

<div id="app">
    <view-by-id-component create-employee-url="@Url.Action("Create", "Employees")"
                          edit-employee-url="@Url.Action("Edit", "Employees")"
                          delete-employee-url="@Url.Action("Delete", "Employees")"
                          details-employee-url="@Url.Action("../")"
                          index-department-url="@Url.Action("ViewAll", "Departments")"
                          :employees="@JsonConvert.SerializeObject(Model.Employees)"
                          department-name="@Model.DepartmentName"
                          department-id="@Model.DepartmentId">
    </view-by-id-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Departments.js")"></script>
}