@model IEnumerable<AnResh.Models.Department>
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Отделы";
}

<div id="app">
    <view-all-component create-department-url="@Url.Action("Create", "Departments")"
                        edit-department-url="@Url.Action("Edit", "Departments")"
                        delete-department-url="@Url.Action("Delete", "Departments")"
                        details-department-url="@Url.Action("ViewById", "Departments")"
                        :departments="@JsonConvert.SerializeObject(Model)">
    </view-all-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/wwwroot/bundle/Departments.js")"></script>
}